<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
    <input type="submit" name="try" />
  </form>
  <p id="found"><p>
  <p id="word1"><p>
  <p id="word2"><p>
  <p id="word3"><p>
  <!-- <p id="false"><p> -->
</div></div>

<br/>

<!-- ==================OLD LOGIC===================== -->

<!-- {% if session.matches|length is not equalto 0  %}
<h2>You found </h2>
<p id="results">
  {% for match in session.matches %}
  {{ match }} 
  {% endfor %}
</p>
{% endif %} -->

<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %} -->

<!-- ================================================= -->


<script>

$("#attempt").keyup(function(event) {
  var txt = $("#attempt").val();  // Current content of the input field
  var keycode = event.which;      // They key that just went up
  var letter = String.fromCharCode(keycode);

  $.getJSON( "/_vocab", {text:txt},
           function(data) {
              text_val = data.result.text_val;
              to_append = data.result.to_append;
              num_matches = data.result.num_matches;
              console.log("Do we append? ---->", to_append);
              console.log("Text is:", txt);

              html_text = "<p>"+text_val+"</p>"

              // Logic goes here
              if(to_append){
                if(num_matches == 1){
                  $("#found").html("<h1>You Found</h1>");
                  $("#word1").html(html_text);
                }
                else if(num_matches == 2){
                  $("#word2").html(html_text);
                }
                else{
                  $("#word3").html(html_text);
                  location.replace("success");
                }
              }
             }
         );
  });

// $("#entry").submit(function(event) {
//   var txt = $("#attempt").val();  // Current content of the input field
//   var keycode = event.which;      // They key that just went up
//   var letter = String.fromCharCode(keycode);
//   var messages = get_flashed_messages();

//   $.getJSON( "/_check",
//            function(data) {
//               // word_bank = data.result.words;
//               // letters = data.result.letters;
//               // console.log("Letters to use:", letters);
//               // console.log("List of available words is: " + word_bank);
//               // console.log("Text is:", txt);

//               // Logic goes here
//               // console.log(messages)
//               var test = "<h1>Hello Lucas</h1>"
//               $("#mess").html(test);
//               // alert("Inserted html: " + test);
//              }
//          );
//   });

</script>



</div> <!-- container -->
</body> </html>
